body{
    margin: 0;
    color: antiquewhite;
    background-color: #151515;
    font-family: monospace;
}
main{
    /*text-align: center;*/
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.project{
    color: antiquewhite;
	text-decoration: none;
    padding: 10px;
    font-size: 23px;
    /*border-radius: 5px;*/
    margin: 5px;
}
.project img{
    width: 400px;
    height: 250px;
    border: 2px solid #138f7e;
    border-radius: 5px;
    object-fit: cover;
}
.project h3{
    padding: 0;
    margin: 0;
    font-size:x-large;
}
h1 a{
    text-decoration: none;
    color: antiquewhite;
    font-size: larger;
}
h1 a:hover{
    text-decoration: underline;
}
.projects{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}